
@{
    ViewData["Title"] = "Amazon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Amazon</title>
<br />
<div>
    <div class="container">
        <h1 style="text-align: center; text-decoration: underline;" ">Distribuidor Amazon Inc.</h1>
        <br />
        <img src="https://i0.wp.com/blogs.unsw.edu.au/nowideas/files/2018/03/amazon.jpg?fit=840%2C440&ssl=1" alt="Amazon" width="600" height="auto" style="display: block; margin: 0 auto;">
        <div class="description">
            <br />
            <p><strong>Walmart Inc.:</strong> Amazon es uno de los mayores distribuidores en línea del mundo. Fundada por Jeff Bezos en 1994, la compañía comenzó como una librería en línea, pero rápidamente se expandió para vender una amplia variedad de productos y servicios, incluidos dispositivos electrónicos, ropa, muebles, alimentos, juguetes y joyería. Amazon es conocida por su rápida y eficiente red de distribución y su innovación en logística y tecnología.</p>
        </div>
    </div>
</div>